/*
 * Office Integrator
 * We've built Zoho Office Integrator for businesses that are building a web application of their own, but still need full-featured office editors to create, edit, and manage their documents. If you're a business with either of the following requirements, Zoho Office Integrator might just be perfect for you.
 *
 * OpenAPI spec version: 1.0.0
 * Contact: support@officeapi.com
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package com.officeintegrator.api;

import com.officeintegrator.ApiCallback;
import com.officeintegrator.ApiClient;
import com.officeintegrator.ApiException;
import com.officeintegrator.ApiResponse;
import com.officeintegrator.Configuration;
import com.officeintegrator.Pair;
import com.officeintegrator.ProgressRequestBody;
import com.officeintegrator.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.officeintegrator.model.BasicErrorModel;
import com.officeintegrator.model.CreateDocumentResponse;
import com.officeintegrator.model.CreateSheetResponse;
import com.officeintegrator.model.DocumentInfo;
import java.io.File;
import com.officeintegrator.model.InlineResponse200;
import com.officeintegrator.model.InlineResponse2001;
import com.officeintegrator.model.InlineResponse2002;
import com.officeintegrator.model.PreviewSheetResponse;
import com.officeintegrator.model.SheetCallbackSettings;
import com.officeintegrator.model.SheetEditPermissions;
import com.officeintegrator.model.SheetEditorSettings;
import com.officeintegrator.model.SheetReadOnlyPermissions;
import com.officeintegrator.model.SheetSupportedLanguages;
import com.officeintegrator.model.SheetUserInfo;
import com.officeintegrator.model.ShowCallbackSettings;
import com.officeintegrator.model.Showofficeapiv1presentationEditorSettings;
import com.officeintegrator.model.UserInfo;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class SheetEditorApi {
    private ApiClient apiClient;

    public SheetEditorApi() {
        this(Configuration.getDefaultApiClient());
    }

    public SheetEditorApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for createPresentation
     * @param document  (optional)
     * @param url  (optional)
     * @param callbackSettings  (optional)
     * @param editorSettings  (optional)
     * @param permissions  (optional)
     * @param documentInfo  (optional)
     * @param userInfo  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createPresentationCall(File document, String url, ShowCallbackSettings callbackSettings, Showofficeapiv1presentationEditorSettings editorSettings, SheetEditPermissions permissions, DocumentInfo documentInfo, UserInfo userInfo, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/show/officeapi/v1/presentation";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        if (document != null)
        localVarFormParams.put("document", document);
        if (url != null)
        localVarFormParams.put("url", url);
        if (callbackSettings != null)
        localVarFormParams.put("callback_settings", callbackSettings);
        if (editorSettings != null)
        localVarFormParams.put("editor_settings", editorSettings);
        if (permissions != null)
        localVarFormParams.put("permissions", permissions);
        if (documentInfo != null)
        localVarFormParams.put("document_info", documentInfo);
        if (userInfo != null)
        localVarFormParams.put("user_info", userInfo);

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "multipart/form-data"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createPresentationValidateBeforeCall(File document, String url, ShowCallbackSettings callbackSettings, Showofficeapiv1presentationEditorSettings editorSettings, SheetEditPermissions permissions, DocumentInfo documentInfo, UserInfo userInfo, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = createPresentationCall(document, url, callbackSettings, editorSettings, permissions, documentInfo, userInfo, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * To create/edit a presentation in Zoho Show.
     * @param document  (optional)
     * @param url  (optional)
     * @param callbackSettings  (optional)
     * @param editorSettings  (optional)
     * @param permissions  (optional)
     * @param documentInfo  (optional)
     * @param userInfo  (optional)
     * @return CreateDocumentResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CreateDocumentResponse createPresentation(File document, String url, ShowCallbackSettings callbackSettings, Showofficeapiv1presentationEditorSettings editorSettings, SheetEditPermissions permissions, DocumentInfo documentInfo, UserInfo userInfo) throws ApiException {
        ApiResponse<CreateDocumentResponse> resp = createPresentationWithHttpInfo(document, url, callbackSettings, editorSettings, permissions, documentInfo, userInfo);
        return resp.getData();
    }

    /**
     * 
     * To create/edit a presentation in Zoho Show.
     * @param document  (optional)
     * @param url  (optional)
     * @param callbackSettings  (optional)
     * @param editorSettings  (optional)
     * @param permissions  (optional)
     * @param documentInfo  (optional)
     * @param userInfo  (optional)
     * @return ApiResponse&lt;CreateDocumentResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CreateDocumentResponse> createPresentationWithHttpInfo(File document, String url, ShowCallbackSettings callbackSettings, Showofficeapiv1presentationEditorSettings editorSettings, SheetEditPermissions permissions, DocumentInfo documentInfo, UserInfo userInfo) throws ApiException {
        com.squareup.okhttp.Call call = createPresentationValidateBeforeCall(document, url, callbackSettings, editorSettings, permissions, documentInfo, userInfo, null, null);
        Type localVarReturnType = new TypeToken<CreateDocumentResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * To create/edit a presentation in Zoho Show.
     * @param document  (optional)
     * @param url  (optional)
     * @param callbackSettings  (optional)
     * @param editorSettings  (optional)
     * @param permissions  (optional)
     * @param documentInfo  (optional)
     * @param userInfo  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createPresentationAsync(File document, String url, ShowCallbackSettings callbackSettings, Showofficeapiv1presentationEditorSettings editorSettings, SheetEditPermissions permissions, DocumentInfo documentInfo, UserInfo userInfo, final ApiCallback<CreateDocumentResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createPresentationValidateBeforeCall(document, url, callbackSettings, editorSettings, permissions, documentInfo, userInfo, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CreateDocumentResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createSpreadsheet
     * @param document  (optional)
     * @param url  (optional)
     * @param callbackSettings  (optional)
     * @param editorSettings  (optional)
     * @param permissions  (optional)
     * @param documentInfo  (optional)
     * @param userInfo  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createSpreadsheetCall(File document, String url, SheetCallbackSettings callbackSettings, SheetEditorSettings editorSettings, SheetEditPermissions permissions, DocumentInfo documentInfo, SheetUserInfo userInfo, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/sheet/officeapi/v1/spreadsheet";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        if (document != null)
        localVarFormParams.put("document", document);
        if (url != null)
        localVarFormParams.put("url", url);
        if (callbackSettings != null)
        localVarFormParams.put("callback_settings", callbackSettings);
        if (editorSettings != null)
        localVarFormParams.put("editor_settings", editorSettings);
        if (permissions != null)
        localVarFormParams.put("permissions", permissions);
        if (documentInfo != null)
        localVarFormParams.put("document_info", documentInfo);
        if (userInfo != null)
        localVarFormParams.put("user_info", userInfo);

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "multipart/form-data"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createSpreadsheetValidateBeforeCall(File document, String url, SheetCallbackSettings callbackSettings, SheetEditorSettings editorSettings, SheetEditPermissions permissions, DocumentInfo documentInfo, SheetUserInfo userInfo, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = createSpreadsheetCall(document, url, callbackSettings, editorSettings, permissions, documentInfo, userInfo, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * To create a new document in Zoho Writer.
     * @param document  (optional)
     * @param url  (optional)
     * @param callbackSettings  (optional)
     * @param editorSettings  (optional)
     * @param permissions  (optional)
     * @param documentInfo  (optional)
     * @param userInfo  (optional)
     * @return CreateSheetResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CreateSheetResponse createSpreadsheet(File document, String url, SheetCallbackSettings callbackSettings, SheetEditorSettings editorSettings, SheetEditPermissions permissions, DocumentInfo documentInfo, SheetUserInfo userInfo) throws ApiException {
        ApiResponse<CreateSheetResponse> resp = createSpreadsheetWithHttpInfo(document, url, callbackSettings, editorSettings, permissions, documentInfo, userInfo);
        return resp.getData();
    }

    /**
     * 
     * To create a new document in Zoho Writer.
     * @param document  (optional)
     * @param url  (optional)
     * @param callbackSettings  (optional)
     * @param editorSettings  (optional)
     * @param permissions  (optional)
     * @param documentInfo  (optional)
     * @param userInfo  (optional)
     * @return ApiResponse&lt;CreateSheetResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CreateSheetResponse> createSpreadsheetWithHttpInfo(File document, String url, SheetCallbackSettings callbackSettings, SheetEditorSettings editorSettings, SheetEditPermissions permissions, DocumentInfo documentInfo, SheetUserInfo userInfo) throws ApiException {
        com.squareup.okhttp.Call call = createSpreadsheetValidateBeforeCall(document, url, callbackSettings, editorSettings, permissions, documentInfo, userInfo, null, null);
        Type localVarReturnType = new TypeToken<CreateSheetResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * To create a new document in Zoho Writer.
     * @param document  (optional)
     * @param url  (optional)
     * @param callbackSettings  (optional)
     * @param editorSettings  (optional)
     * @param permissions  (optional)
     * @param documentInfo  (optional)
     * @param userInfo  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createSpreadsheetAsync(File document, String url, SheetCallbackSettings callbackSettings, SheetEditorSettings editorSettings, SheetEditPermissions permissions, DocumentInfo documentInfo, SheetUserInfo userInfo, final ApiCallback<CreateSheetResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createSpreadsheetValidateBeforeCall(document, url, callbackSettings, editorSettings, permissions, documentInfo, userInfo, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CreateSheetResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for deleteSheet
     * @param documentId Unique id of the document to be deleted. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteSheetCall(String documentId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/sheet/officeapi/v1/spreadsheet/{document_id}"
            .replaceAll("\\{" + "document_id" + "\\}", apiClient.escapeString(documentId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteSheetValidateBeforeCall(String documentId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'documentId' is set
        if (documentId == null) {
            throw new ApiException("Missing the required parameter 'documentId' when calling deleteSheet(Async)");
        }
        
        com.squareup.okhttp.Call call = deleteSheetCall(documentId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * To delete a particular document in Zoho Writer through a unique document id.
     * @param documentId Unique id of the document to be deleted. (required)
     * @return InlineResponse2001
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public InlineResponse2001 deleteSheet(String documentId) throws ApiException {
        ApiResponse<InlineResponse2001> resp = deleteSheetWithHttpInfo(documentId);
        return resp.getData();
    }

    /**
     * 
     * To delete a particular document in Zoho Writer through a unique document id.
     * @param documentId Unique id of the document to be deleted. (required)
     * @return ApiResponse&lt;InlineResponse2001&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<InlineResponse2001> deleteSheetWithHttpInfo(String documentId) throws ApiException {
        com.squareup.okhttp.Call call = deleteSheetValidateBeforeCall(documentId, null, null);
        Type localVarReturnType = new TypeToken<InlineResponse2001>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * To delete a particular document in Zoho Writer through a unique document id.
     * @param documentId Unique id of the document to be deleted. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteSheetAsync(String documentId, final ApiCallback<InlineResponse2001> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteSheetValidateBeforeCall(documentId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<InlineResponse2001>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for deleteSheetSession
     * @param sessionId Unique user session id of the sheet document. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteSheetSessionCall(String sessionId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/sheet/officeapi/v1/session/{session_id}"
            .replaceAll("\\{" + "session_id" + "\\}", apiClient.escapeString(sessionId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteSheetSessionValidateBeforeCall(String sessionId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'sessionId' is set
        if (sessionId == null) {
            throw new ApiException("Missing the required parameter 'sessionId' when calling deleteSheetSession(Async)");
        }
        
        com.squareup.okhttp.Call call = deleteSheetSessionCall(sessionId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * To delete a particular user session of in Zoho Sheet.
     * @param sessionId Unique user session id of the sheet document. (required)
     * @return InlineResponse200
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public InlineResponse200 deleteSheetSession(String sessionId) throws ApiException {
        ApiResponse<InlineResponse200> resp = deleteSheetSessionWithHttpInfo(sessionId);
        return resp.getData();
    }

    /**
     * 
     * To delete a particular user session of in Zoho Sheet.
     * @param sessionId Unique user session id of the sheet document. (required)
     * @return ApiResponse&lt;InlineResponse200&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<InlineResponse200> deleteSheetSessionWithHttpInfo(String sessionId) throws ApiException {
        com.squareup.okhttp.Call call = deleteSheetSessionValidateBeforeCall(sessionId, null, null);
        Type localVarReturnType = new TypeToken<InlineResponse200>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * To delete a particular user session of in Zoho Sheet.
     * @param sessionId Unique user session id of the sheet document. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteSheetSessionAsync(String sessionId, final ApiCallback<InlineResponse200> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteSheetSessionValidateBeforeCall(sessionId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<InlineResponse200>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for deleteShow
     * @param documentId Unique id of the presentation to be deleted. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteShowCall(String documentId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/show/officeapi/v1/presentation/{document_id}"
            .replaceAll("\\{" + "document_id" + "\\}", apiClient.escapeString(documentId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteShowValidateBeforeCall(String documentId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'documentId' is set
        if (documentId == null) {
            throw new ApiException("Missing the required parameter 'documentId' when calling deleteShow(Async)");
        }
        
        com.squareup.okhttp.Call call = deleteShowCall(documentId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * To delete a particular presentation in Zoho Show through a unique document id.
     * @param documentId Unique id of the presentation to be deleted. (required)
     * @return InlineResponse2002
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public InlineResponse2002 deleteShow(String documentId) throws ApiException {
        ApiResponse<InlineResponse2002> resp = deleteShowWithHttpInfo(documentId);
        return resp.getData();
    }

    /**
     * 
     * To delete a particular presentation in Zoho Show through a unique document id.
     * @param documentId Unique id of the presentation to be deleted. (required)
     * @return ApiResponse&lt;InlineResponse2002&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<InlineResponse2002> deleteShowWithHttpInfo(String documentId) throws ApiException {
        com.squareup.okhttp.Call call = deleteShowValidateBeforeCall(documentId, null, null);
        Type localVarReturnType = new TypeToken<InlineResponse2002>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * To delete a particular presentation in Zoho Show through a unique document id.
     * @param documentId Unique id of the presentation to be deleted. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteShowAsync(String documentId, final ApiCallback<InlineResponse2002> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteShowValidateBeforeCall(documentId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<InlineResponse2002>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for deleteShowSession
     * @param sessionId Unique user session id of the presentation. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteShowSessionCall(String sessionId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/show/officeapi/v1/session/{session_id}"
            .replaceAll("\\{" + "session_id" + "\\}", apiClient.escapeString(sessionId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteShowSessionValidateBeforeCall(String sessionId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'sessionId' is set
        if (sessionId == null) {
            throw new ApiException("Missing the required parameter 'sessionId' when calling deleteShowSession(Async)");
        }
        
        com.squareup.okhttp.Call call = deleteShowSessionCall(sessionId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * To delete a particular user session of in Zoho Show.
     * @param sessionId Unique user session id of the presentation. (required)
     * @return InlineResponse200
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public InlineResponse200 deleteShowSession(String sessionId) throws ApiException {
        ApiResponse<InlineResponse200> resp = deleteShowSessionWithHttpInfo(sessionId);
        return resp.getData();
    }

    /**
     * 
     * To delete a particular user session of in Zoho Show.
     * @param sessionId Unique user session id of the presentation. (required)
     * @return ApiResponse&lt;InlineResponse200&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<InlineResponse200> deleteShowSessionWithHttpInfo(String sessionId) throws ApiException {
        com.squareup.okhttp.Call call = deleteShowSessionValidateBeforeCall(sessionId, null, null);
        Type localVarReturnType = new TypeToken<InlineResponse200>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * To delete a particular user session of in Zoho Show.
     * @param sessionId Unique user session id of the presentation. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteShowSessionAsync(String sessionId, final ApiCallback<InlineResponse200> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteShowSessionValidateBeforeCall(sessionId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<InlineResponse200>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for previewSpreadsheet
     * @param document  (optional)
     * @param url  (optional)
     * @param language  (optional)
     * @param permissions  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call previewSpreadsheetCall(File document, String url, SheetSupportedLanguages language, SheetReadOnlyPermissions permissions, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/sheet/officeapi/v1/spreadsheet/preview";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        if (document != null)
        localVarFormParams.put("document", document);
        if (url != null)
        localVarFormParams.put("url", url);
        if (language != null)
        localVarFormParams.put("language", language);
        if (permissions != null)
        localVarFormParams.put("permissions", permissions);

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "multipart/form-data"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call previewSpreadsheetValidateBeforeCall(File document, String url, SheetSupportedLanguages language, SheetReadOnlyPermissions permissions, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = previewSpreadsheetCall(document, url, language, permissions, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * To open a spreadsheet in preview or read-only mode in Zoho Sheet.
     * @param document  (optional)
     * @param url  (optional)
     * @param language  (optional)
     * @param permissions  (optional)
     * @return PreviewSheetResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public PreviewSheetResponse previewSpreadsheet(File document, String url, SheetSupportedLanguages language, SheetReadOnlyPermissions permissions) throws ApiException {
        ApiResponse<PreviewSheetResponse> resp = previewSpreadsheetWithHttpInfo(document, url, language, permissions);
        return resp.getData();
    }

    /**
     * 
     * To open a spreadsheet in preview or read-only mode in Zoho Sheet.
     * @param document  (optional)
     * @param url  (optional)
     * @param language  (optional)
     * @param permissions  (optional)
     * @return ApiResponse&lt;PreviewSheetResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<PreviewSheetResponse> previewSpreadsheetWithHttpInfo(File document, String url, SheetSupportedLanguages language, SheetReadOnlyPermissions permissions) throws ApiException {
        com.squareup.okhttp.Call call = previewSpreadsheetValidateBeforeCall(document, url, language, permissions, null, null);
        Type localVarReturnType = new TypeToken<PreviewSheetResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * To open a spreadsheet in preview or read-only mode in Zoho Sheet.
     * @param document  (optional)
     * @param url  (optional)
     * @param language  (optional)
     * @param permissions  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call previewSpreadsheetAsync(File document, String url, SheetSupportedLanguages language, SheetReadOnlyPermissions permissions, final ApiCallback<PreviewSheetResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = previewSpreadsheetValidateBeforeCall(document, url, language, permissions, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<PreviewSheetResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
