/*
 * Office Integrator
 * We've built Zoho Office Integrator for businesses that are building a web application of their own, but still need full-featured office editors to create, edit, and manage their documents. If you're a business with either of the following requirements, Zoho Office Integrator might just be perfect for you.
 *
 * OpenAPI spec version: 1.0.0
 * Contact: support@officeapi.com
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package com.officeintegrator.api;

import com.officeintegrator.ApiCallback;
import com.officeintegrator.ApiClient;
import com.officeintegrator.ApiException;
import com.officeintegrator.ApiResponse;
import com.officeintegrator.Configuration;
import com.officeintegrator.Pair;
import com.officeintegrator.ProgressRequestBody;
import com.officeintegrator.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.officeintegrator.model.BasicErrorModel;
import java.io.File;
import com.officeintegrator.model.PreviewResponse;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ShowEditorApi {
    private ApiClient apiClient;

    public ShowEditorApi() {
        this(Configuration.getDefaultApiClient());
    }

    public ShowEditorApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for previewPresentation
     * @param document  (optional)
     * @param url  (optional)
     * @param language  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call previewPresentationCall(File document, String url, String language, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/show/officeapi/v1/spreadsheet/preview";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        if (document != null)
        localVarFormParams.put("document", document);
        if (url != null)
        localVarFormParams.put("url", url);
        if (language != null)
        localVarFormParams.put("language", language);

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "multipart/form-data"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call previewPresentationValidateBeforeCall(File document, String url, String language, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = previewPresentationCall(document, url, language, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * To open a presentation in preview or read-only mode in Zoho Sheet.
     * @param document  (optional)
     * @param url  (optional)
     * @param language  (optional)
     * @return PreviewResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public PreviewResponse previewPresentation(File document, String url, String language) throws ApiException {
        ApiResponse<PreviewResponse> resp = previewPresentationWithHttpInfo(document, url, language);
        return resp.getData();
    }

    /**
     * 
     * To open a presentation in preview or read-only mode in Zoho Sheet.
     * @param document  (optional)
     * @param url  (optional)
     * @param language  (optional)
     * @return ApiResponse&lt;PreviewResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<PreviewResponse> previewPresentationWithHttpInfo(File document, String url, String language) throws ApiException {
        com.squareup.okhttp.Call call = previewPresentationValidateBeforeCall(document, url, language, null, null);
        Type localVarReturnType = new TypeToken<PreviewResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * To open a presentation in preview or read-only mode in Zoho Sheet.
     * @param document  (optional)
     * @param url  (optional)
     * @param language  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call previewPresentationAsync(File document, String url, String language, final ApiCallback<PreviewResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = previewPresentationValidateBeforeCall(document, url, language, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<PreviewResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
