/*
 * Office Integrator
 * We've built Zoho Office Integrator for businesses that are building a web application of their own, but still need full-featured office editors to create, edit, and manage their documents. If you're a business with either of the following requirements, Zoho Office Integrator might just be perfect for you.
 *
 * OpenAPI spec version: 1.0.0
 * Contact: support@officeapi.com
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package com.officeintegrator.api;

import com.officeintegrator.ApiCallback;
import com.officeintegrator.ApiClient;
import com.officeintegrator.ApiException;
import com.officeintegrator.ApiResponse;
import com.officeintegrator.Configuration;
import com.officeintegrator.Pair;
import com.officeintegrator.ProgressRequestBody;
import com.officeintegrator.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.officeintegrator.model.BasicErrorModel;
import com.officeintegrator.model.CreateDocumentResponse;
import com.officeintegrator.model.DocumentDefaults;
import com.officeintegrator.model.DocumentInfo;
import java.io.File;
import com.officeintegrator.model.GetMergeFieldsReponse;
import com.officeintegrator.model.MailMergeWebHookSettings;
import com.officeintegrator.model.MergeAndDeliverReponse;
import com.officeintegrator.model.UserInfo;
import com.officeintegrator.model.WriterCallbackSettings;
import com.officeintegrator.model.WriterEditorSettings;
import com.officeintegrator.model.WriterMergeExportFormat;
import com.officeintegrator.model.WriterPermissions;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class WriterMergeApi {
    private ApiClient apiClient;

    public WriterMergeApi() {
        this(Configuration.getDefaultApiClient());
    }

    public WriterMergeApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for createDocumentTemplate
     * @param document  (optional)
     * @param url  (optional)
     * @param callbackSettings  (optional)
     * @param documentDefaults  (optional)
     * @param editorSettings  (optional)
     * @param permissions  (optional)
     * @param documentInfo  (optional)
     * @param userInfo  (optional)
     * @param mergeDataCsvContent  (optional)
     * @param mergeDataJsonContent  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createDocumentTemplateCall(File document, String url, WriterCallbackSettings callbackSettings, DocumentDefaults documentDefaults, WriterEditorSettings editorSettings, WriterPermissions permissions, DocumentInfo documentInfo, UserInfo userInfo, File mergeDataCsvContent, File mergeDataJsonContent, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/writer/officeapi/v1/template";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        if (document != null)
        localVarFormParams.put("document", document);
        if (url != null)
        localVarFormParams.put("url", url);
        if (callbackSettings != null)
        localVarFormParams.put("callback_settings", callbackSettings);
        if (documentDefaults != null)
        localVarFormParams.put("document_defaults", documentDefaults);
        if (editorSettings != null)
        localVarFormParams.put("editor_settings", editorSettings);
        if (permissions != null)
        localVarFormParams.put("permissions", permissions);
        if (documentInfo != null)
        localVarFormParams.put("document_info", documentInfo);
        if (userInfo != null)
        localVarFormParams.put("user_info", userInfo);
        if (mergeDataCsvContent != null)
        localVarFormParams.put("merge_data_csv_content", mergeDataCsvContent);
        if (mergeDataJsonContent != null)
        localVarFormParams.put("merge_data_json_content", mergeDataJsonContent);

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "multipart/form-data"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createDocumentTemplateValidateBeforeCall(File document, String url, WriterCallbackSettings callbackSettings, DocumentDefaults documentDefaults, WriterEditorSettings editorSettings, WriterPermissions permissions, DocumentInfo documentInfo, UserInfo userInfo, File mergeDataCsvContent, File mergeDataJsonContent, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = createDocumentTemplateCall(document, url, callbackSettings, documentDefaults, editorSettings, permissions, documentInfo, userInfo, mergeDataCsvContent, mergeDataJsonContent, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * To create a new template in Zoho Writer.
     * @param document  (optional)
     * @param url  (optional)
     * @param callbackSettings  (optional)
     * @param documentDefaults  (optional)
     * @param editorSettings  (optional)
     * @param permissions  (optional)
     * @param documentInfo  (optional)
     * @param userInfo  (optional)
     * @param mergeDataCsvContent  (optional)
     * @param mergeDataJsonContent  (optional)
     * @return CreateDocumentResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CreateDocumentResponse createDocumentTemplate(File document, String url, WriterCallbackSettings callbackSettings, DocumentDefaults documentDefaults, WriterEditorSettings editorSettings, WriterPermissions permissions, DocumentInfo documentInfo, UserInfo userInfo, File mergeDataCsvContent, File mergeDataJsonContent) throws ApiException {
        ApiResponse<CreateDocumentResponse> resp = createDocumentTemplateWithHttpInfo(document, url, callbackSettings, documentDefaults, editorSettings, permissions, documentInfo, userInfo, mergeDataCsvContent, mergeDataJsonContent);
        return resp.getData();
    }

    /**
     * 
     * To create a new template in Zoho Writer.
     * @param document  (optional)
     * @param url  (optional)
     * @param callbackSettings  (optional)
     * @param documentDefaults  (optional)
     * @param editorSettings  (optional)
     * @param permissions  (optional)
     * @param documentInfo  (optional)
     * @param userInfo  (optional)
     * @param mergeDataCsvContent  (optional)
     * @param mergeDataJsonContent  (optional)
     * @return ApiResponse&lt;CreateDocumentResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CreateDocumentResponse> createDocumentTemplateWithHttpInfo(File document, String url, WriterCallbackSettings callbackSettings, DocumentDefaults documentDefaults, WriterEditorSettings editorSettings, WriterPermissions permissions, DocumentInfo documentInfo, UserInfo userInfo, File mergeDataCsvContent, File mergeDataJsonContent) throws ApiException {
        com.squareup.okhttp.Call call = createDocumentTemplateValidateBeforeCall(document, url, callbackSettings, documentDefaults, editorSettings, permissions, documentInfo, userInfo, mergeDataCsvContent, mergeDataJsonContent, null, null);
        Type localVarReturnType = new TypeToken<CreateDocumentResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * To create a new template in Zoho Writer.
     * @param document  (optional)
     * @param url  (optional)
     * @param callbackSettings  (optional)
     * @param documentDefaults  (optional)
     * @param editorSettings  (optional)
     * @param permissions  (optional)
     * @param documentInfo  (optional)
     * @param userInfo  (optional)
     * @param mergeDataCsvContent  (optional)
     * @param mergeDataJsonContent  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createDocumentTemplateAsync(File document, String url, WriterCallbackSettings callbackSettings, DocumentDefaults documentDefaults, WriterEditorSettings editorSettings, WriterPermissions permissions, DocumentInfo documentInfo, UserInfo userInfo, File mergeDataCsvContent, File mergeDataJsonContent, final ApiCallback<CreateDocumentResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createDocumentTemplateValidateBeforeCall(document, url, callbackSettings, documentDefaults, editorSettings, permissions, documentInfo, userInfo, mergeDataCsvContent, mergeDataJsonContent, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CreateDocumentResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getDocumentMergeFields
     * @param fileContent  (optional)
     * @param fileUrl  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getDocumentMergeFieldsCall(File fileContent, String fileUrl, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/writer/officeapi/v1/fields";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        if (fileContent != null)
        localVarFormParams.put("file_content", fileContent);
        if (fileUrl != null)
        localVarFormParams.put("file_url", fileUrl);

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "multipart/form-data"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getDocumentMergeFieldsValidateBeforeCall(File fileContent, String fileUrl, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = getDocumentMergeFieldsCall(fileContent, fileUrl, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * To get the list of available merge fields present in the document.
     * @param fileContent  (optional)
     * @param fileUrl  (optional)
     * @return GetMergeFieldsReponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public GetMergeFieldsReponse getDocumentMergeFields(File fileContent, String fileUrl) throws ApiException {
        ApiResponse<GetMergeFieldsReponse> resp = getDocumentMergeFieldsWithHttpInfo(fileContent, fileUrl);
        return resp.getData();
    }

    /**
     * 
     * To get the list of available merge fields present in the document.
     * @param fileContent  (optional)
     * @param fileUrl  (optional)
     * @return ApiResponse&lt;GetMergeFieldsReponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<GetMergeFieldsReponse> getDocumentMergeFieldsWithHttpInfo(File fileContent, String fileUrl) throws ApiException {
        com.squareup.okhttp.Call call = getDocumentMergeFieldsValidateBeforeCall(fileContent, fileUrl, null, null);
        Type localVarReturnType = new TypeToken<GetMergeFieldsReponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * To get the list of available merge fields present in the document.
     * @param fileContent  (optional)
     * @param fileUrl  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getDocumentMergeFieldsAsync(File fileContent, String fileUrl, final ApiCallback<GetMergeFieldsReponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getDocumentMergeFieldsValidateBeforeCall(fileContent, fileUrl, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<GetMergeFieldsReponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for mergeAndDeliverDocument
     * @param outputFormat  (optional)
     * @param fileContent  (optional)
     * @param fileUrl  (optional)
     * @param webhook  (optional)
     * @param mergeTo  (optional)
     * @param mergeData  (optional)
     * @param mergeDataCsvContent  (optional)
     * @param mergeDataJsonContent  (optional)
     * @param mergeDataCsvUrl  (optional)
     * @param mergeDataJsonUrl  (optional)
     * @param password  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call mergeAndDeliverDocumentCall(WriterMergeExportFormat outputFormat, File fileContent, String fileUrl, MailMergeWebHookSettings webhook, String mergeTo, Map<String, Object> mergeData, File mergeDataCsvContent, File mergeDataJsonContent, String mergeDataCsvUrl, String mergeDataJsonUrl, String password, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/writer/officeapi/v1/document/merge/webhook";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        if (outputFormat != null)
        localVarFormParams.put("output_format", outputFormat);
        if (fileContent != null)
        localVarFormParams.put("file_content", fileContent);
        if (fileUrl != null)
        localVarFormParams.put("file_url", fileUrl);
        if (webhook != null)
        localVarFormParams.put("webhook", webhook);
        if (mergeTo != null)
        localVarFormParams.put("merge_to", mergeTo);
        if (mergeData != null)
        localVarFormParams.put("merge_data", mergeData);
        if (mergeDataCsvContent != null)
        localVarFormParams.put("merge_data_csv_content", mergeDataCsvContent);
        if (mergeDataJsonContent != null)
        localVarFormParams.put("merge_data_json_content", mergeDataJsonContent);
        if (mergeDataCsvUrl != null)
        localVarFormParams.put("merge_data_csv_url", mergeDataCsvUrl);
        if (mergeDataJsonUrl != null)
        localVarFormParams.put("merge_data_json_url", mergeDataJsonUrl);
        if (password != null)
        localVarFormParams.put("password", password);

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "multipart/form-data"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call mergeAndDeliverDocumentValidateBeforeCall(WriterMergeExportFormat outputFormat, File fileContent, String fileUrl, MailMergeWebHookSettings webhook, String mergeTo, Map<String, Object> mergeData, File mergeDataCsvContent, File mergeDataJsonContent, String mergeDataCsvUrl, String mergeDataJsonUrl, String password, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = mergeAndDeliverDocumentCall(outputFormat, fileContent, fileUrl, webhook, mergeTo, mergeData, mergeDataCsvContent, mergeDataJsonContent, mergeDataCsvUrl, mergeDataJsonUrl, password, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * To send or post the merged document to the given webhook URL.
     * @param outputFormat  (optional)
     * @param fileContent  (optional)
     * @param fileUrl  (optional)
     * @param webhook  (optional)
     * @param mergeTo  (optional)
     * @param mergeData  (optional)
     * @param mergeDataCsvContent  (optional)
     * @param mergeDataJsonContent  (optional)
     * @param mergeDataCsvUrl  (optional)
     * @param mergeDataJsonUrl  (optional)
     * @param password  (optional)
     * @return MergeAndDeliverReponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public MergeAndDeliverReponse mergeAndDeliverDocument(WriterMergeExportFormat outputFormat, File fileContent, String fileUrl, MailMergeWebHookSettings webhook, String mergeTo, Map<String, Object> mergeData, File mergeDataCsvContent, File mergeDataJsonContent, String mergeDataCsvUrl, String mergeDataJsonUrl, String password) throws ApiException {
        ApiResponse<MergeAndDeliverReponse> resp = mergeAndDeliverDocumentWithHttpInfo(outputFormat, fileContent, fileUrl, webhook, mergeTo, mergeData, mergeDataCsvContent, mergeDataJsonContent, mergeDataCsvUrl, mergeDataJsonUrl, password);
        return resp.getData();
    }

    /**
     * 
     * To send or post the merged document to the given webhook URL.
     * @param outputFormat  (optional)
     * @param fileContent  (optional)
     * @param fileUrl  (optional)
     * @param webhook  (optional)
     * @param mergeTo  (optional)
     * @param mergeData  (optional)
     * @param mergeDataCsvContent  (optional)
     * @param mergeDataJsonContent  (optional)
     * @param mergeDataCsvUrl  (optional)
     * @param mergeDataJsonUrl  (optional)
     * @param password  (optional)
     * @return ApiResponse&lt;MergeAndDeliverReponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<MergeAndDeliverReponse> mergeAndDeliverDocumentWithHttpInfo(WriterMergeExportFormat outputFormat, File fileContent, String fileUrl, MailMergeWebHookSettings webhook, String mergeTo, Map<String, Object> mergeData, File mergeDataCsvContent, File mergeDataJsonContent, String mergeDataCsvUrl, String mergeDataJsonUrl, String password) throws ApiException {
        com.squareup.okhttp.Call call = mergeAndDeliverDocumentValidateBeforeCall(outputFormat, fileContent, fileUrl, webhook, mergeTo, mergeData, mergeDataCsvContent, mergeDataJsonContent, mergeDataCsvUrl, mergeDataJsonUrl, password, null, null);
        Type localVarReturnType = new TypeToken<MergeAndDeliverReponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * To send or post the merged document to the given webhook URL.
     * @param outputFormat  (optional)
     * @param fileContent  (optional)
     * @param fileUrl  (optional)
     * @param webhook  (optional)
     * @param mergeTo  (optional)
     * @param mergeData  (optional)
     * @param mergeDataCsvContent  (optional)
     * @param mergeDataJsonContent  (optional)
     * @param mergeDataCsvUrl  (optional)
     * @param mergeDataJsonUrl  (optional)
     * @param password  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call mergeAndDeliverDocumentAsync(WriterMergeExportFormat outputFormat, File fileContent, String fileUrl, MailMergeWebHookSettings webhook, String mergeTo, Map<String, Object> mergeData, File mergeDataCsvContent, File mergeDataJsonContent, String mergeDataCsvUrl, String mergeDataJsonUrl, String password, final ApiCallback<MergeAndDeliverReponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = mergeAndDeliverDocumentValidateBeforeCall(outputFormat, fileContent, fileUrl, webhook, mergeTo, mergeData, mergeDataCsvContent, mergeDataJsonContent, mergeDataCsvUrl, mergeDataJsonUrl, password, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<MergeAndDeliverReponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for mergeDocument
     * @param outputFormat  (optional)
     * @param fileContent  (optional)
     * @param fileUrl  (optional)
     * @param mergeData  (optional)
     * @param mergeDataCsvContent  (optional)
     * @param mergeDataJsonContent  (optional)
     * @param mergeDataCsvUrl  (optional)
     * @param mergeDataJsonUrl  (optional)
     * @param password  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call mergeDocumentCall(WriterMergeExportFormat outputFormat, File fileContent, String fileUrl, Map<String, Object> mergeData, File mergeDataCsvContent, File mergeDataJsonContent, String mergeDataCsvUrl, String mergeDataJsonUrl, String password, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/writer/officeapi/v1/document/merge";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        if (outputFormat != null)
        localVarFormParams.put("output_format", outputFormat);
        if (fileContent != null)
        localVarFormParams.put("file_content", fileContent);
        if (fileUrl != null)
        localVarFormParams.put("file_url", fileUrl);
        if (mergeData != null)
        localVarFormParams.put("merge_data", mergeData);
        if (mergeDataCsvContent != null)
        localVarFormParams.put("merge_data_csv_content", mergeDataCsvContent);
        if (mergeDataJsonContent != null)
        localVarFormParams.put("merge_data_json_content", mergeDataJsonContent);
        if (mergeDataCsvUrl != null)
        localVarFormParams.put("merge_data_csv_url", mergeDataCsvUrl);
        if (mergeDataJsonUrl != null)
        localVarFormParams.put("merge_data_json_url", mergeDataJsonUrl);
        if (password != null)
        localVarFormParams.put("password", password);

        final String[] localVarAccepts = {
            "application/_*", "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "multipart/form-data"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call mergeDocumentValidateBeforeCall(WriterMergeExportFormat outputFormat, File fileContent, String fileUrl, Map<String, Object> mergeData, File mergeDataCsvContent, File mergeDataJsonContent, String mergeDataCsvUrl, String mergeDataJsonUrl, String password, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = mergeDocumentCall(outputFormat, fileContent, fileUrl, mergeData, mergeDataCsvContent, mergeDataJsonContent, mergeDataCsvUrl, mergeDataJsonUrl, password, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * This API will allow you to generate documents and merge them.
     * @param outputFormat  (optional)
     * @param fileContent  (optional)
     * @param fileUrl  (optional)
     * @param mergeData  (optional)
     * @param mergeDataCsvContent  (optional)
     * @param mergeDataJsonContent  (optional)
     * @param mergeDataCsvUrl  (optional)
     * @param mergeDataJsonUrl  (optional)
     * @param password  (optional)
     * @return File
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public File mergeDocument(WriterMergeExportFormat outputFormat, File fileContent, String fileUrl, Map<String, Object> mergeData, File mergeDataCsvContent, File mergeDataJsonContent, String mergeDataCsvUrl, String mergeDataJsonUrl, String password) throws ApiException {
        ApiResponse<File> resp = mergeDocumentWithHttpInfo(outputFormat, fileContent, fileUrl, mergeData, mergeDataCsvContent, mergeDataJsonContent, mergeDataCsvUrl, mergeDataJsonUrl, password);
        return resp.getData();
    }

    /**
     * 
     * This API will allow you to generate documents and merge them.
     * @param outputFormat  (optional)
     * @param fileContent  (optional)
     * @param fileUrl  (optional)
     * @param mergeData  (optional)
     * @param mergeDataCsvContent  (optional)
     * @param mergeDataJsonContent  (optional)
     * @param mergeDataCsvUrl  (optional)
     * @param mergeDataJsonUrl  (optional)
     * @param password  (optional)
     * @return ApiResponse&lt;File&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<File> mergeDocumentWithHttpInfo(WriterMergeExportFormat outputFormat, File fileContent, String fileUrl, Map<String, Object> mergeData, File mergeDataCsvContent, File mergeDataJsonContent, String mergeDataCsvUrl, String mergeDataJsonUrl, String password) throws ApiException {
        com.squareup.okhttp.Call call = mergeDocumentValidateBeforeCall(outputFormat, fileContent, fileUrl, mergeData, mergeDataCsvContent, mergeDataJsonContent, mergeDataCsvUrl, mergeDataJsonUrl, password, null, null);
        Type localVarReturnType = new TypeToken<File>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * This API will allow you to generate documents and merge them.
     * @param outputFormat  (optional)
     * @param fileContent  (optional)
     * @param fileUrl  (optional)
     * @param mergeData  (optional)
     * @param mergeDataCsvContent  (optional)
     * @param mergeDataJsonContent  (optional)
     * @param mergeDataCsvUrl  (optional)
     * @param mergeDataJsonUrl  (optional)
     * @param password  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call mergeDocumentAsync(WriterMergeExportFormat outputFormat, File fileContent, String fileUrl, Map<String, Object> mergeData, File mergeDataCsvContent, File mergeDataJsonContent, String mergeDataCsvUrl, String mergeDataJsonUrl, String password, final ApiCallback<File> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = mergeDocumentValidateBeforeCall(outputFormat, fileContent, fileUrl, mergeData, mergeDataCsvContent, mergeDataJsonContent, mergeDataCsvUrl, mergeDataJsonUrl, password, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<File>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
