/*
 * Office Integrator
 * We've built Zoho Office Integrator for businesses that are building a web application of their own, but still need full-featured office editors to create, edit, and manage their documents. If you're a business with either of the following requirements, Zoho Office Integrator might just be perfect for you.
 *
 * OpenAPI spec version: 1.0.0
 * Contact: support@officeapi.com
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package com.officeintegrator.api;

import com.officeintegrator.ApiCallback;
import com.officeintegrator.ApiClient;
import com.officeintegrator.ApiException;
import com.officeintegrator.ApiResponse;
import com.officeintegrator.Configuration;
import com.officeintegrator.Pair;
import com.officeintegrator.ProgressRequestBody;
import com.officeintegrator.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.officeintegrator.model.BasicErrorModel;
import com.officeintegrator.model.CompareDocumentResponse;
import com.officeintegrator.model.CreateDocumentResponse;
import com.officeintegrator.model.DocumentDefaults;
import com.officeintegrator.model.DocumentInfo;
import java.io.File;
import com.officeintegrator.model.InlineResponse200;
import com.officeintegrator.model.InlineResponse2001;
import com.officeintegrator.model.PreviewResponse;
import com.officeintegrator.model.UIOptions;
import com.officeintegrator.model.UserInfo;
import com.officeintegrator.model.WriterCallbackSettings;
import com.officeintegrator.model.WriterEditorSettings;
import com.officeintegrator.model.WriterPermissions;
import com.officeintegrator.model.WriterSupportedLanguages;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class WriterEditorApi {
    private ApiClient apiClient;

    public WriterEditorApi() {
        this(Configuration.getDefaultApiClient());
    }

    public WriterEditorApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for compareDocument
     * @param document1  (optional)
     * @param url1  (optional)
     * @param document2  (optional)
     * @param url2  (optional)
     * @param title  (optional)
     * @param lang  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call compareDocumentCall(File document1, String url1, File document2, String url2, String title, WriterSupportedLanguages lang, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/writer/officeapi/v1/document/compare";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        if (document1 != null)
        localVarFormParams.put("document1", document1);
        if (url1 != null)
        localVarFormParams.put("url1", url1);
        if (document2 != null)
        localVarFormParams.put("document2", document2);
        if (url2 != null)
        localVarFormParams.put("url2", url2);
        if (title != null)
        localVarFormParams.put("title", title);
        if (lang != null)
        localVarFormParams.put("lang", lang);

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "multipart/form-data"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call compareDocumentValidateBeforeCall(File document1, String url1, File document2, String url2, String title, WriterSupportedLanguages lang, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = compareDocumentCall(document1, url1, document2, url2, title, lang, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * To compare two versions of a document and highlight the difference in text.
     * @param document1  (optional)
     * @param url1  (optional)
     * @param document2  (optional)
     * @param url2  (optional)
     * @param title  (optional)
     * @param lang  (optional)
     * @return CompareDocumentResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CompareDocumentResponse compareDocument(File document1, String url1, File document2, String url2, String title, WriterSupportedLanguages lang) throws ApiException {
        ApiResponse<CompareDocumentResponse> resp = compareDocumentWithHttpInfo(document1, url1, document2, url2, title, lang);
        return resp.getData();
    }

    /**
     * 
     * To compare two versions of a document and highlight the difference in text.
     * @param document1  (optional)
     * @param url1  (optional)
     * @param document2  (optional)
     * @param url2  (optional)
     * @param title  (optional)
     * @param lang  (optional)
     * @return ApiResponse&lt;CompareDocumentResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CompareDocumentResponse> compareDocumentWithHttpInfo(File document1, String url1, File document2, String url2, String title, WriterSupportedLanguages lang) throws ApiException {
        com.squareup.okhttp.Call call = compareDocumentValidateBeforeCall(document1, url1, document2, url2, title, lang, null, null);
        Type localVarReturnType = new TypeToken<CompareDocumentResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * To compare two versions of a document and highlight the difference in text.
     * @param document1  (optional)
     * @param url1  (optional)
     * @param document2  (optional)
     * @param url2  (optional)
     * @param title  (optional)
     * @param lang  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call compareDocumentAsync(File document1, String url1, File document2, String url2, String title, WriterSupportedLanguages lang, final ApiCallback<CompareDocumentResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = compareDocumentValidateBeforeCall(document1, url1, document2, url2, title, lang, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CompareDocumentResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createDocument
     * @param document  (optional)
     * @param url  (optional)
     * @param callbackSettings  (optional)
     * @param documentDefaults  (optional)
     * @param editorSettings  (optional)
     * @param permissions  (optional)
     * @param documentInfo  (optional)
     * @param userInfo  (optional)
     * @param uiOptions  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createDocumentCall(File document, String url, WriterCallbackSettings callbackSettings, DocumentDefaults documentDefaults, WriterEditorSettings editorSettings, WriterPermissions permissions, DocumentInfo documentInfo, UserInfo userInfo, UIOptions uiOptions, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/writer/officeapi/v1/document";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        if (document != null)
        localVarFormParams.put("document", document);
        if (url != null)
        localVarFormParams.put("url", url);
        if (callbackSettings != null)
        localVarFormParams.put("callback_settings", callbackSettings);
        if (documentDefaults != null)
        localVarFormParams.put("document_defaults", documentDefaults);
        if (editorSettings != null)
        localVarFormParams.put("editor_settings", editorSettings);
        if (permissions != null)
        localVarFormParams.put("permissions", permissions);
        if (documentInfo != null)
        localVarFormParams.put("document_info", documentInfo);
        if (userInfo != null)
        localVarFormParams.put("user_info", userInfo);
        if (uiOptions != null)
        localVarFormParams.put("ui_options", uiOptions);

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "multipart/form-data"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createDocumentValidateBeforeCall(File document, String url, WriterCallbackSettings callbackSettings, DocumentDefaults documentDefaults, WriterEditorSettings editorSettings, WriterPermissions permissions, DocumentInfo documentInfo, UserInfo userInfo, UIOptions uiOptions, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = createDocumentCall(document, url, callbackSettings, documentDefaults, editorSettings, permissions, documentInfo, userInfo, uiOptions, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * To create a new document in Zoho Writer.
     * @param document  (optional)
     * @param url  (optional)
     * @param callbackSettings  (optional)
     * @param documentDefaults  (optional)
     * @param editorSettings  (optional)
     * @param permissions  (optional)
     * @param documentInfo  (optional)
     * @param userInfo  (optional)
     * @param uiOptions  (optional)
     * @return CreateDocumentResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CreateDocumentResponse createDocument(File document, String url, WriterCallbackSettings callbackSettings, DocumentDefaults documentDefaults, WriterEditorSettings editorSettings, WriterPermissions permissions, DocumentInfo documentInfo, UserInfo userInfo, UIOptions uiOptions) throws ApiException {
        ApiResponse<CreateDocumentResponse> resp = createDocumentWithHttpInfo(document, url, callbackSettings, documentDefaults, editorSettings, permissions, documentInfo, userInfo, uiOptions);
        return resp.getData();
    }

    /**
     * 
     * To create a new document in Zoho Writer.
     * @param document  (optional)
     * @param url  (optional)
     * @param callbackSettings  (optional)
     * @param documentDefaults  (optional)
     * @param editorSettings  (optional)
     * @param permissions  (optional)
     * @param documentInfo  (optional)
     * @param userInfo  (optional)
     * @param uiOptions  (optional)
     * @return ApiResponse&lt;CreateDocumentResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CreateDocumentResponse> createDocumentWithHttpInfo(File document, String url, WriterCallbackSettings callbackSettings, DocumentDefaults documentDefaults, WriterEditorSettings editorSettings, WriterPermissions permissions, DocumentInfo documentInfo, UserInfo userInfo, UIOptions uiOptions) throws ApiException {
        com.squareup.okhttp.Call call = createDocumentValidateBeforeCall(document, url, callbackSettings, documentDefaults, editorSettings, permissions, documentInfo, userInfo, uiOptions, null, null);
        Type localVarReturnType = new TypeToken<CreateDocumentResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * To create a new document in Zoho Writer.
     * @param document  (optional)
     * @param url  (optional)
     * @param callbackSettings  (optional)
     * @param documentDefaults  (optional)
     * @param editorSettings  (optional)
     * @param permissions  (optional)
     * @param documentInfo  (optional)
     * @param userInfo  (optional)
     * @param uiOptions  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createDocumentAsync(File document, String url, WriterCallbackSettings callbackSettings, DocumentDefaults documentDefaults, WriterEditorSettings editorSettings, WriterPermissions permissions, DocumentInfo documentInfo, UserInfo userInfo, UIOptions uiOptions, final ApiCallback<CreateDocumentResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createDocumentValidateBeforeCall(document, url, callbackSettings, documentDefaults, editorSettings, permissions, documentInfo, userInfo, uiOptions, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CreateDocumentResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for deleteDocument
     * @param documentId Unique id of the document to be deleted. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteDocumentCall(String documentId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/writer/officeapi/v1/document/{document_id}"
            .replaceAll("\\{" + "document_id" + "\\}", apiClient.escapeString(documentId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteDocumentValidateBeforeCall(String documentId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'documentId' is set
        if (documentId == null) {
            throw new ApiException("Missing the required parameter 'documentId' when calling deleteDocument(Async)");
        }
        
        com.squareup.okhttp.Call call = deleteDocumentCall(documentId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * To delete a particular document in Zoho Writer through a unique document id.
     * @param documentId Unique id of the document to be deleted. (required)
     * @return InlineResponse2001
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public InlineResponse2001 deleteDocument(String documentId) throws ApiException {
        ApiResponse<InlineResponse2001> resp = deleteDocumentWithHttpInfo(documentId);
        return resp.getData();
    }

    /**
     * 
     * To delete a particular document in Zoho Writer through a unique document id.
     * @param documentId Unique id of the document to be deleted. (required)
     * @return ApiResponse&lt;InlineResponse2001&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<InlineResponse2001> deleteDocumentWithHttpInfo(String documentId) throws ApiException {
        com.squareup.okhttp.Call call = deleteDocumentValidateBeforeCall(documentId, null, null);
        Type localVarReturnType = new TypeToken<InlineResponse2001>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * To delete a particular document in Zoho Writer through a unique document id.
     * @param documentId Unique id of the document to be deleted. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteDocumentAsync(String documentId, final ApiCallback<InlineResponse2001> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteDocumentValidateBeforeCall(documentId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<InlineResponse2001>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for deleteWriterSession
     * @param sessionId Unique user session id of the document. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteWriterSessionCall(String sessionId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/writer/officeapi/v1/session/{session_id}"
            .replaceAll("\\{" + "session_id" + "\\}", apiClient.escapeString(sessionId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteWriterSessionValidateBeforeCall(String sessionId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'sessionId' is set
        if (sessionId == null) {
            throw new ApiException("Missing the required parameter 'sessionId' when calling deleteWriterSession(Async)");
        }
        
        com.squareup.okhttp.Call call = deleteWriterSessionCall(sessionId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * To delete a user session of a particular document in Zoho Writer.
     * @param sessionId Unique user session id of the document. (required)
     * @return InlineResponse200
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public InlineResponse200 deleteWriterSession(String sessionId) throws ApiException {
        ApiResponse<InlineResponse200> resp = deleteWriterSessionWithHttpInfo(sessionId);
        return resp.getData();
    }

    /**
     * 
     * To delete a user session of a particular document in Zoho Writer.
     * @param sessionId Unique user session id of the document. (required)
     * @return ApiResponse&lt;InlineResponse200&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<InlineResponse200> deleteWriterSessionWithHttpInfo(String sessionId) throws ApiException {
        com.squareup.okhttp.Call call = deleteWriterSessionValidateBeforeCall(sessionId, null, null);
        Type localVarReturnType = new TypeToken<InlineResponse200>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * To delete a user session of a particular document in Zoho Writer.
     * @param sessionId Unique user session id of the document. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteWriterSessionAsync(String sessionId, final ApiCallback<InlineResponse200> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteWriterSessionValidateBeforeCall(sessionId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<InlineResponse200>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for previewDocument
     * @param document  (optional)
     * @param url  (optional)
     * @param lang  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call previewDocumentCall(File document, String url, WriterSupportedLanguages lang, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/writer/officeapi/v1/document/preview";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        if (document != null)
        localVarFormParams.put("document", document);
        if (url != null)
        localVarFormParams.put("url", url);
        if (lang != null)
        localVarFormParams.put("lang", lang);

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "multipart/form-data"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call previewDocumentValidateBeforeCall(File document, String url, WriterSupportedLanguages lang, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = previewDocumentCall(document, url, lang, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * To create a new document in Zoho Writer.
     * @param document  (optional)
     * @param url  (optional)
     * @param lang  (optional)
     * @return PreviewResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public PreviewResponse previewDocument(File document, String url, WriterSupportedLanguages lang) throws ApiException {
        ApiResponse<PreviewResponse> resp = previewDocumentWithHttpInfo(document, url, lang);
        return resp.getData();
    }

    /**
     * 
     * To create a new document in Zoho Writer.
     * @param document  (optional)
     * @param url  (optional)
     * @param lang  (optional)
     * @return ApiResponse&lt;PreviewResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<PreviewResponse> previewDocumentWithHttpInfo(File document, String url, WriterSupportedLanguages lang) throws ApiException {
        com.squareup.okhttp.Call call = previewDocumentValidateBeforeCall(document, url, lang, null, null);
        Type localVarReturnType = new TypeToken<PreviewResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * To create a new document in Zoho Writer.
     * @param document  (optional)
     * @param url  (optional)
     * @param lang  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call previewDocumentAsync(File document, String url, WriterSupportedLanguages lang, final ApiCallback<PreviewResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = previewDocumentValidateBeforeCall(document, url, lang, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<PreviewResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
