/*
 * Office Integrator
 * We've built Zoho Office Integrator for businesses that are building a web application of their own, but still need full-featured office editors to create, edit, and manage their documents. If you're a business with either of the following requirements, Zoho Office Integrator might just be perfect for you.
 *
 * OpenAPI spec version: 1.0.0
 * Contact: support@officeapi.com
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package com.officeintegrator.api;

import com.officeintegrator.ApiCallback;
import com.officeintegrator.ApiClient;
import com.officeintegrator.ApiException;
import com.officeintegrator.ApiResponse;
import com.officeintegrator.Configuration;
import com.officeintegrator.Pair;
import com.officeintegrator.ProgressRequestBody;
import com.officeintegrator.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.officeintegrator.model.BasicErrorModel;
import java.io.File;
import com.officeintegrator.model.OutputOptions;
import com.officeintegrator.model.WatermarkSettings;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class WriterConversionApi {
    private ApiClient apiClient;

    public WriterConversionApi() {
        this(Configuration.getDefaultApiClient());
    }

    public WriterConversionApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for convertDocument
     * @param document  (optional)
     * @param url  (optional)
     * @param outputOptions  (optional)
     * @param password  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call convertDocumentCall(File document, String url, OutputOptions outputOptions, String password, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/writer/officeapi/v1/document/convert";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        if (document != null)
        localVarFormParams.put("document", document);
        if (url != null)
        localVarFormParams.put("url", url);
        if (outputOptions != null)
        localVarFormParams.put("output_options", outputOptions);
        if (password != null)
        localVarFormParams.put("password", password);

        final String[] localVarAccepts = {
            "application/_*", "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "multipart/form-data"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call convertDocumentValidateBeforeCall(File document, String url, OutputOptions outputOptions, String password, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = convertDocumentCall(document, url, outputOptions, password, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * To convert a document to any Writer supported format (.docx, .doc, .pdf, .zdoc etc.)
     * @param document  (optional)
     * @param url  (optional)
     * @param outputOptions  (optional)
     * @param password  (optional)
     * @return File
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public File convertDocument(File document, String url, OutputOptions outputOptions, String password) throws ApiException {
        ApiResponse<File> resp = convertDocumentWithHttpInfo(document, url, outputOptions, password);
        return resp.getData();
    }

    /**
     * 
     * To convert a document to any Writer supported format (.docx, .doc, .pdf, .zdoc etc.)
     * @param document  (optional)
     * @param url  (optional)
     * @param outputOptions  (optional)
     * @param password  (optional)
     * @return ApiResponse&lt;File&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<File> convertDocumentWithHttpInfo(File document, String url, OutputOptions outputOptions, String password) throws ApiException {
        com.squareup.okhttp.Call call = convertDocumentValidateBeforeCall(document, url, outputOptions, password, null, null);
        Type localVarReturnType = new TypeToken<File>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * To convert a document to any Writer supported format (.docx, .doc, .pdf, .zdoc etc.)
     * @param document  (optional)
     * @param url  (optional)
     * @param outputOptions  (optional)
     * @param password  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call convertDocumentAsync(File document, String url, OutputOptions outputOptions, String password, final ApiCallback<File> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = convertDocumentValidateBeforeCall(document, url, outputOptions, password, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<File>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for watermarkDocument
     * @param document  (optional)
     * @param url  (optional)
     * @param watermarkSettings  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call watermarkDocumentCall(File document, String url, WatermarkSettings watermarkSettings, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/writer/officeapi/v1/document/watermark";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        if (document != null)
        localVarFormParams.put("document", document);
        if (url != null)
        localVarFormParams.put("url", url);
        if (watermarkSettings != null)
        localVarFormParams.put("watermark_settings", watermarkSettings);

        final String[] localVarAccepts = {
            "application/_*", "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "multipart/form-data"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call watermarkDocumentValidateBeforeCall(File document, String url, WatermarkSettings watermarkSettings, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = watermarkDocumentCall(document, url, watermarkSettings, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * Using this API, you can provide the watermark details in the form of text.
     * @param document  (optional)
     * @param url  (optional)
     * @param watermarkSettings  (optional)
     * @return File
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public File watermarkDocument(File document, String url, WatermarkSettings watermarkSettings) throws ApiException {
        ApiResponse<File> resp = watermarkDocumentWithHttpInfo(document, url, watermarkSettings);
        return resp.getData();
    }

    /**
     * 
     * Using this API, you can provide the watermark details in the form of text.
     * @param document  (optional)
     * @param url  (optional)
     * @param watermarkSettings  (optional)
     * @return ApiResponse&lt;File&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<File> watermarkDocumentWithHttpInfo(File document, String url, WatermarkSettings watermarkSettings) throws ApiException {
        com.squareup.okhttp.Call call = watermarkDocumentValidateBeforeCall(document, url, watermarkSettings, null, null);
        Type localVarReturnType = new TypeToken<File>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Using this API, you can provide the watermark details in the form of text.
     * @param document  (optional)
     * @param url  (optional)
     * @param watermarkSettings  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call watermarkDocumentAsync(File document, String url, WatermarkSettings watermarkSettings, final ApiCallback<File> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = watermarkDocumentValidateBeforeCall(document, url, watermarkSettings, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<File>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
